.chatBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}

.chatBox textarea {
  display: flex;
  width: 100%;
  resize: none;
  overflow: auto;
  min-height: 28px;
  background: var(--gray200);
  border-radius: 4px;
  outline: none;
  padding: 5px;
  border: 1px solid var(--black);
  align-items: center;
  font-size: 87.5%;
}

.chatButton {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.chatButton:hover {
  background: #6cf0c2;
}
