.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gray400);
    min-width: 250px;
    min-height: 60px;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid black;
}

@media (max-width: 768px) {
    html {
        font-size: 87.5%;
    }
}
