:root {
  --gray200: #9fb1bc;
  --gray300: #879dab;
  --gray400: #6e8898;

  --black: #0d0d0d;

  --red500: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray200);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
