.messagesBox {
    background-color: var(--gray200);
    border: 1px var(--black);
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-width: 1000px;
    padding: 5px;
    gap: 0.5rem;
    height: 200px;
    background: var(--gray200);
    border-radius: 4px;
    padding: 5px;
    border: 1px solid var(--black);
    overflow-y: auto;
}

.userMessage {
    max-width: 70%;
}

.messageUtil {
    display: flex;
    gap: 0.5rem;
}

.message {
    display: flex;
    justify-content: space-between;
}

.messageText {
   word-wrap: break-word;
   max-width: 500px;
}

.trash {
    height: 32px;
}

@media (max-width: 1080px) {
    .messagesBox {
        max-width: 800px;
    }
}

@media (max-width: 848px) {
	.messagesBox {
        max-width: 600px;
    }
}